[submodule "subsites/elm-pomodoro"]
	path = subsites/elm-pomodoro
	url = https://github.com/Kriegslustig/elm-pomodoro.git
[submodule "subsites/elm-intro"]
	path = subsites/elm-intro
	url = https://github.com/Kriegslustig/elm-intro.git
[submodule "subsites/vim-shortcut-viewer"]
	path = subsites/vim-shortcut-viewer
	url = https://github.com/Kriegslustig/vim-shortcut-viewer.git
[submodule "subsites/minimum-viable-modern-javascript"]
	path = subsites/minimum-viable-modern-javascript
	url = https://github.com/Kriegslustig/minimum-viable-modern-javascript.git
