*, *::before, *::after {
  box-sizing: border-box;
}

html {
  color: #FFF;
  font: 100 23px Palatino,Georgia,Lucida Bright,Book Antiqua,serif;
}

body {
  margin: 0;
}

h2 {
  font-weight: 400;
  margin-bottom: 0;
}

a {
  color: #FFF;
}

section {
  background-size: cover;
}

.text__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  line-height: 1rem;
  max-width: 26rem;
  font-size: 16px;
}

.text {
  background-color: hsla(0, 0%, 0%, .8);
  padding: 1rem;
}

@media (min-width 800px) {
}

