*, *::before, *::after {
  box-sizing: border-box;
}

strong {
  font-weight: 800;
}

html {
  color: #FFF;
  font: 100 23px Palatino,Georgia,Lucida Bright,Book Antiqua,serif;
}

body {
  margin: 0;
}

h2 {
  font-weight: 400;
  margin-bottom: 0;
}

a {
  color: #FFF;
}

section {
  background-size: cover;
}

img {
  width: 50%;
  min-width: 10rem;
}

.text__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  line-height: 1rem;
  max-width: 27rem;
  font-size: 16px;
}

.text {
  background-color: hsla(0, 0%, 0%, .8);
  padding: 1rem;
}

section:nth-last-child(1) .text__wrapper {
  min-height: auto;
}

section:nth-last-child(1) .text {
  background-color: transparent;
}

section[data-name="00_intro"] {
  background-position: center;
}

section[data-name="03_apprenticeship"] {
  background-position: bottom;
}

section[data-name="04_goals"] {
  background-position: center;
}

section[data-name="06_particulars"] {
  background-position: center;
}

section[data-name="08_cv"] {
  background-position: bottom;
}

@media (min-width 800px) {
}

