*, *::before, *::after {
  box-sizing: border-box;
}

strong {
  font-weight: 800;
}

html {
  color: #FFF;
  font: 100 23px Palatino,Georgia,Lucida Bright,Book Antiqua,serif;
  letter-spacing: .7px;
}

body {
  margin: 0;
}

h2 {
  font-weight: 400;
  margin-bottom: 0;
}

a {
  color: #FFF;
}

section {
  background-size: cover;
}

img {
  width: calc(100% + 3.1rem);
  margin-left: -1.5rem;
}

.text__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  line-height: 1.2rem;
  max-width: 29rem;
  font-size: 16px;
}

.text {
  background-color: hsla(0, 0%, 0%, .8);
  padding: 1rem;
}

section:nth-last-child(1) .text__wrapper {
  min-height: auto;
  max-width: none;
  width: 100%;
}

section:nth-last-child(1) .text {
  background-color: transparent;
}

section[data-name$="_intro"] {
  background-position: center;
}

section[data-name$="_apprenticeship"] {
  background-position: bottom;
}

section[data-name$="_goals"] {
  background-position: center;
}

section[data-name$="_particulars"] {
  background-position: center;
}

section[data-name$="_cv"] {
  background-position: bottom;
}

section[data-name$="_footer"] .text {
  min-height: 0;
  margin-bottom: 0;
}

section[data-name$="_footer"] .text__wrapper {
  margin: 0;
  padding: 0;
}

section[data-name$="_particulars"] p:last-child {
  margin-bottom: 0;
  line-height: 0;
}

section[data-name$="_particulars"] .text {
  padding-bottom: 0;
}

@media (min-width: 750px) {
  html,
  a {
    color: hsl(0, 0%, 0%);
  }

  section {
    box-shadow: 0 -14px 30px 14px black;
  }

  .text__wrapper {
    padding: 10vh 0 0 0;
    box-sizing: content-box;
    float: right;
    background-color: hsla(0, 0%, 100%, .6);
  }

  .text {
    padding: 1rem 1.6rem 1rem 1.5rem;
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 10vh;
  }
}

/**
 * Used a lot of !importants here.
 * Simply to override the styles set by css
 */
@media print {
  html {
    font-size: 16px;
  }

  img {
    width: 50%;
    margin: 0;
  }

  scrollthingy {
    height: auto !important;
  }

  nav {
    display: none !important;
  }

  .text__wrapper {
    padding: 0;
    float: none;
    width: 100%;
    max-width: none;
    min-height: auto;
  }

  scrollthingy section[data-name] {
    transform: none !important;
    position: static !important;
    display: block;
    min-height: auto;
    box-shadow: none;
  }

  .text {
    margin-bottom: 0;
  }
}

