/**
 * Here you'll find styles specific to this project
 * The scrollthingy styles are split up into generic
 * an specific ones. The generic ones should provide
 * a very basic starting point.
 */

*, *::before, *::after {
  box-sizing: border-box;
}

strong {
  font-weight: 800;
}

html {
  color: #FFF;
  font: 100 23px Palatino,Georgia,Lucida Bright,Book Antiqua,serif;
  letter-spacing: .7px;
}

body {
  margin: 0;
}

h2 {
  font-weight: 400;
  margin-bottom: 0;
}

a {
  color: #FFF;
}

.scrollthingy__section {
  background-size: cover;
}

img {
  width: calc(100% + 3.1rem);
  margin-left: -1.5rem;
}

.text__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  line-height: 1.2rem;
  max-width: 29rem;
  font-size: 16px;
}

.text {
  background-color: hsla(0, 0%, 0%, .8);
  padding: 1rem;
}

.scrollthingy__section {
  overflow: hidden;
}

.scrollthingy__sectionWrapper:nth-last-child(1) .text__wrapper {
  min-height: initial;
  max-width: initial;
  width: 100%;
}

.scrollthingy__sectionWrapper:nth-last-child(1) .scrollthingy__section .text {
  background-color: transparent;
}

.loader {
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100%;
  opacity: 0;
  transition: opacity .4s;
  background-color: hsl(0, 0%, 100%);
}

.loader--active {
  opacity: 1;
}

.loader__spinner {
  position: absolute;
  width: 10vh;
  height: 10vh;
  left: calc(50vw - 5vh);
  top: 45vh;
  border-radius: 100%;
  border: .5rem solid hsl(0, 0%, 80%);
  border-top-color: hsl(0, 0%, 100%);
  border-bottom-color: hsl(0, 0%, 100%);
  transform: rotate(0);
  animation: .5s spin infinite;
  color: transparent;
}

@media (min-width: 750px) {
  html,
  a {
    color: hsl(0, 0%, 0%);
  }

  .scrollthingy__section {
    box-shadow: 0 -14px 30px 14px black;
  }

  .text__wrapper {
    padding: 10vh 0 0 0;
    box-sizing: content-box;
    float: right;
    background-color: hsla(0, 0%, 100%, .6);
  }

  .text {
    padding: 1rem 1.6rem 1rem 1.5rem;
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 10vh;
  }
}

/**
 * Used a lot of !importants here.
 * Simply to override the styles set by css
 */
@media print {
  html {
    font-size: 16px;
  }

  img {
    width: 50%;
    margin: 0;
  }

  .scrollthingy {
    height: auto !important;
  }

  nav {
    display: none !important;
  }

  .text__wrapper {
    padding: 0;
    float: none;
    width: 100%;
    max-width: initial;
    min-height: initial;
  }

  .scrollthingy__section[data-name] {
    transform: none !important;
    position: static !important;
    display: block;
    min-height: initial;
    box-shadow: none;
  }

  .text {
    margin-bottom: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

