@import "./lib/writ.css";
@import "./lib/footnotes.css";
@import "../../node_modules/highlight.js/styles/github.css";


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #FFF;
  margin: 0;
  letter-spacing: .2px;
}

p:first-child {
  margin-top: 0;
}

footer {
  padding-top: 10vh;
  text-align: right;
}

footer li {
  float: left;
}

footer li::after {
  content: '/';
  margin-left: .7rem;
}

footer li:last-child::after {
  display: none;
}

section:not(:first-of-type) {
  margin-top: 3rem;
}

section:not(:first-of-type)::before,
article:not(:first-of-type)::before,
.blogArticle::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  margin: 1rem 0 0 0;
  background-color: #DDD;
}

work-in-progress {
  height: auto;
}

main {
  margin: 1.5rem auto;
  transition: margin-top .2s;
}

nav a.current {
  text-decoration: underline;
}

@media (max-width: 940px) {
  custom-navigation {
    display: none;
  }
}

main,
body > footer {
  padding: 0 1rem;
}

