<h2>Another Blog</h2>
{{#each articles}}
  <article itemscope itemtype="https://schema.org/Blog">
    <h2><a href="{{ url }}">{{{ title }}}</a></h2>
    {{{teaser}}}
    <p><b><a href="{{ url }}">...read it!</a></b></p>
    <p>
    <i>– By <a href="author.url" itemprop="author" itemtype="https://schema.org/Author"><span itemprop="name">{{ author.name }}</span></a></i><br>
      <i>Created on <span itemprop="datePublished" content="{{ createdISO }}">{{ created }}</span></i>
    </p>
  </article>
  <section>
    <ul>
      <li><a href="/feed/rss.xml">RSS</a></li>
      <li><a href="/feed/atom.xml">Atom-Feed</a></li>
    </ul>
  </section>
{{/each}}

