article(class="blogArticle" itemscope itemtype="http://schema.org/Article")
  !{articleContent}
  i
    | – By
    a(href=author.url itemprop="author" itemtype="https://schema.org/Author")
      span(itemprop="name")= author.name
  i
    | Created on
    span(itemprop="datePublished" content=createdISO)=created
  comments
  commentform

