<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="alternate" title="Atom Feed" href="{{ getFullUrl feed/atom.xml }}">
  <link rel="alternate" title="RSS Feed" href="{{ getFullUrl feed/rss.xml }}">
  <link rel="stylesheet" href="/bundle.css">
</head>
<body>
  <work-in-progress></work-in-progress>
  <main>
    <aside>
      <custom-navigation></custom-navigation>
    </aside>
    <nav>
      <ul>
        <li><a class="" href="/">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/anotherblog">Blog</a></li>
      </ul>
    </nav>
    {{{ content }}}
  </main>
  <footer>
    <p><i>Made with love.</i></p>
  </footer>
  <script src="/bundle.js"></script>
  <script src="/tags.js"></script>
</body>
</html>

