doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(link rel="icon" href="data:;base64,iVBORw0KGgo=")
    meta(name="keywords" content="Application, Résumé, Wimdu, Front-End Engineer, Luca Nils Schmid, Kriegslustig")
    meta(name="description" content="My Application for a position as a front-end engineer at Wimdu")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
      | Resume
    // style!= loadFile('client/build/resume.css')
  body
    main!= html


