{{#each articles}}
  <article itemscope itemtype="https://schema.org/Blog">
    {{{teaser}}}
    <p><b><a href="{{ url }}">...read it!</a></b></p>
    <p>
      <i>– By <a href="author.url" itemprop="https://schema.org/Author">{{ author.name }}</a></i><br>
      <i>Created on <span itemprop="name">{{ created }}</span></i>
    </p>
  </article>
  <section>
    <ul>
      <li><a href="/feed/rss.xml">RSS</a></li>
      <li><a href="/feed/atom.xml">Atom-Feed</a></li>
    </ul>
  </section>
{{/each}}

