{{#each articles}}
  <article>
    {{{teaser}}}
    <p><b><a href="{{ url }}">...read it!</a></b></p>
    <p>
      <i>– By <a href="author.url">{{ author.name }}</a></i><br>
      <i>Created on {{ created }}</i>
    </p>
  </article>
{{/each}}

