<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/_css/writ.css">
  <link rel="stylesheet" href="/_css/styles.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <aside>
    <navigation></navigation>
  </aside>
  <main>
    <nav>
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/anotherblog">Blog</a></li>
      </ul>
    </nav>
    {{{ content }}}
  </main>
  <script src="/_js/script.js"></script>
  <script src="/_tag/navigation.js"></script>
</body>
</html>

