<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
  {{{ content }}}
  <example-riot></example-riot>
  <script src="/_js/script.js"></script>
  <script src="/_tag/example.js"></script>
</body>
</html>

