p:first-child {
  margin-top: 0;
}

footer {
  padding-top: 10vh;
  text-align: right;
}

section:not(:first-of-type) {
  margin-top: 3rem;
}

section:not(:first-of-type)::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  margin: 1rem 0 0 0;
  background-color: #DDD;
}

work-in-progress {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

main {
  margin-top: 0;
  transition: margin-top .2s;
}

work-in-progress.visible ~ main {
  margin-top: 7rem;
}

@media (max-width: 900px) {
  aside {
    display: none;
  }
}

